{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [ "./src" ],
        "extensions": [ ".js", ".ts" ],
        "alias": {
          "config": "./config"
        }
      }
    ],
    "@babel/transform-runtime"
  ],
  "presets": [
    [ "@babel/preset-typescript" ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14.17"
        }
      }
    ]
  ]
}
